:root .theme_dark {
  --main-color: #F1B2CE;
  --accent-color: #FF0070;
  --decor-color: #000028;
  --focus-color: #DB00FF;
  --bgc: #00183F;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

