:root .theme_light {
  --main-color: #353430;
  --accent-color: #FF8DCB;
  --head-color: #353430;
  --decor-color: #353430;
  --focus-color: #FFC2E6;
  --bgc: #FFF1F7;
  /* #FF8DCB; */
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .rec {
  display: none;
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}


@media (prefers-color-scheme: light) {

  :root {
    --main-color: #353430;
    --accent-color: #FF8DCB;
    --head-color:#353430;
    --decor-color: #353430;
    --focus-color: #FFC2E6;
    --bgc: #FFF1F7;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
    background-color: var(--bgc);
  }

  .theme_auto .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }

  .theme_auto .rec {
    display: none;
  }


   
}