/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-color: #F1B2CE;
  --accent-color: #FF0070;
  --head-color:#FF0070;
  --hover-color:rgba(255, 0, 112, 0.40);
  --decor-color: #000028;
  --focus-color: #DB00FF;
  --bgc: #000028;
  --mobile-gap: 10px;
}
 

@media (width >= 768px) {
  
  :root {
    --mobile-gap: 20px;
  }
}